<!--Creating slides for the object detection-->
<!-- <ion-modal #modal trigger="open-modal">
  <ng-template>
     -->
  <ion-toolbar>
    <ion-title>Modal</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-content>
    <!--<swiper [autoplay]="true" [keyboard]="true" [pagination]="true" [scrollbar]="true" [zoom]="true">
      <ng-template swiper-slide  >-->
      <ion-item *ngFor="let obj of objectsArr" class="horizontalflexbox">
          <ion-grid>
          <ion-row>
            <ion-img [src]="this.photo"></ion-img> <!--image of the identified object-->
          </ion-row>
          <ion-row>
            <h4 >Identified item: {{obj.object}}</h4><!--name of object identified-->
          </ion-row>
          <ion-row>
            <h4>Pronunciation: {{obj.pronunciation}}</h4><!--japanese pronounciation of object identified-->
          </ion-row>
          <ion-row>
            <h4>Try the word's characters:</h4>
          </ion-row>
          <div class="horizontalflexbox">
            <ion-item *ngFor="let char of obj.characters" lines="none"><!-- -->
              <ion-card class="character" (click)="showUploadPage(char)"><!--(click)="showUploadPage()" -->
              <h1>{{char}}</h1>
              </ion-card>   <!--get every character in the identified word-->
            </ion-item>
          </div>
      </ion-grid>
      </ion-item>
      <!--</ng-template>
    </swiper>-->
  </ion-content> 
    <!-- 
  </ng-template>
</ion-modal> -->
