.character{
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 5%;
    position: relative;
    top: -10px;
    border: 5px solid #960722;
    text-align: center;
  }

.horizontalflexbox{
  display:flex;
  align-items: row;
  justify-content: center;
}

ion-card:hover {
  transform: scale(1.1);
  box-shadow: 15px 15px 15px -10px rgba(0, 0, 0, 0.4);
}

ion-img{
  width: 100px;
  height: 100px;
}