# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.angular
/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www

#backend ignores
.env
service.json
imageToSave.png
/bug-slayers-jwe-firebase-adminsdk-o4ico-e446da549b.json
./Storage
datasetA
datasetA_test
datasetU
datasetU_test
resized
#database config
.env
# backend
datasetA
datasetA_test
datasetU
datasetU_test
resized
resized_kanji