<ion-header>
  <ion-toolbar>
    <ion-title>Progress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Character: De</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Japanese_Hiragana_kyokashotai_MA.svg/1200px-Japanese_Hiragana_kyokashotai_MA.svg.png">
            </ion-avatar>
          </ion-col>
          <ion-col size="9">
            <div class="bar">
              <ion-progress-bar color="primary" value="0.6"></ion-progress-bar>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>



</ion-content>
