<ion-content [fullscreen]="true">
  <div class="head" >
    <ion-img src="assets/images/JWE-logos_black.png"></ion-img>
    <app-logout></app-logout>
    <p>
      <strong>Progress</strong><br>
      <em>"You don't have to be extreme, just consistent"</em><br>
      Select which writing style progress results you would like to view below.
    </p>
  </div>

  <div class>
    <ion-grid class="my-grid">
      <ion-row class="parent-row">
        <ion-col *ngFor="let item of alphabetCategory" size="col-auto">
          <app-options  [letter]='item.character' [category]='item.category' [pageReq]='pageRequest'></app-options>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<app-navbar *ngIf="ifNormalNavbar()"></app-navbar>
<app-admin-nav-bar *ngIf="!ifNormalNavbar()" ></app-admin-nav-bar>

