

ion-content h1{
  font-family: 'ZCOOL XiaoWei';
}

ion-content h4{
  font-family: 'ZCOOL XiaoWei';
}


.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.space{
  padding: 5px;
}
