<ion-header>
  <ion-toolbar>
    <ion-title>Progress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="one" [innerHTML]="htmlToAdd"></div> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Character: {{char}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <img [src]="img">
            </ion-avatar>
          </ion-col>
          <ion-col size="9">
            <div class="bar">
              <ion-progress-bar color="primary" [value]='percent'></ion-progress-bar>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
