<link href='https://fonts.googleapis.com/css?family=ZCOOL XiaoWei' rel='stylesheet'>
<ion-content>

  <ion-img src="assets/images/JWE-logos_black.png" id="logo"></ion-img>


    <div class="flexbox">
      <form form #form="ngForm" (ngSubmit)="onSubmitPassword()" class="ion-padding">

        <ion-item lines="none">
          <ion-input class="input" type="password" name="Password" [(ngModel)]="password" placeholder="Password" ngModel required ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input class="input" type="password" name="ConfirmPassword" [(ngModel)]="confirmedPassword" placeholder="Re-type Password" ngModel required ></ion-input>
        </ion-item>

        <p class="ion-text-center">
          <ion-button type="submit" [disabled]="form.invalid">Confirm</ion-button>
        </p>

      </form>
      </div>
</ion-content>

