<link href='https://fonts.googleapis.com/css?family=ZCOOL XiaoWei' rel='stylesheet'>
<p class="padding">
  <ion-button color="light" href="login">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</p>
<ion-content>

  <div  class="flexboxReplica">
    <ion-card > 
      <ion-img src="assets/images/JWE-logos_black.png" id="logo"></ion-img>
      <ion-card-content >
      <form  (ngSubmit)="onSubmitPassword()" [formGroup]="forgotpassword">
        
        <div class="horizontalflexbox">
          <ion-item  lines="none" > <!--Username input item-->
            <ion-label position="floating">Token</ion-label>
            <ion-input class="input" type="text" formControlName="token" size="24"></ion-input>
          </ion-item>
          <!-- <ion-label *ngIf="isUsername" color="primary">Username(Email) required</ion-label><br *ngIf="isUsername"/> -->
        </div><br>

        <div class="horizontalflexbox">
          <ion-item  lines="none"><!-- Password input item -->
            <ion-label position="floating">New Password</ion-label>
            <app-password>
              <ion-input class="input" type="password"  formControlName="newPassword"></ion-input>
            </app-password>
          </ion-item>
         <!-- <ion-label *ngIf="isPassword" color="primary">Password required</ion-label><br *ngIf="isPassword"/> -->
        </div><br/><br/>

        <div class="horizontalflexbox">
          <ion-item  lines="none"><!-- Password input item -->
            <ion-label position="floating">Confirm Password</ion-label>
            <app-password>
              <ion-input class="input" type="password"  formControlName="confirmedPassword"></ion-input>
            </app-password>
          </ion-item>
         <!-- <ion-label *ngIf="isPassword" color="primary">Password required</ion-label><br *ngIf="isPassword"/> -->
        </div><br/><br/>

        <div class="horizontalflexbox">
          <ion-button class="ion-button" type="submit" shape="round" color="primary" >Confirm</ion-button>
        </div>

      </form>
    </ion-card-content>
    </ion-card>
  </div>
</ion-content>


