flask
gunicorn
pyjwt
datetime
uuid
Flask-SQLAlchemy
tensorflow
tensorflow-gpu
manager
pandas
Pyrebase
firebase-admin
sendgrid
schedule
pyscopg2
python-dotenv
pykakasi
googletrans==4.0.0-rc1
requests
torch
torchvision
torchaudio