ion-content {
  font-family: 'ZCOOL XiaoWei';
}

#logo{
  height: 300px;
}

.flexbox{
  display: flex;
  justify-content: center;
}

ion-button {
  text-transform: none;
}

form{
  margin-top: 100px;
}

ion-item{
  border-radius: 20px;
  border-width: 3em;
  margin-bottom: 10px;
  --background: rgb(170, 162, 162);
  --highlight-color-focused: none;
  width: 250px;
  height: 45px;
}
