<link href='https://fonts.googleapis.com/css?family=ZCOOL XiaoWei' rel='stylesheet'>
<p class="padding">
  <ion-button color="light" href="login">
    <p class="position"><i class="backButton"></i></p>
  </ion-button>
</p>
<ion-content>

  <div  class="flexboxReplica">
    <ion-card > 
      <ion-img src="assets/images/JWE-logos_black.png" id="logo"></ion-img>
      <ion-card-content >
        <form (ngSubmit)="onSubmitEmail()" [formGroup]="forgotpassword">
          <div class="horizontalflexbox">
            <ion-item  lines="none" > <!--Username input item-->
              <ion-label position="floating">Email</ion-label>
              <ion-input class="input" type="text"  formControlName="email" ></ion-input>
            </ion-item>
            <!-- <ion-label *ngIf="isUsername" color="primary">Username(Email) required</ion-label><br *ngIf="isUsername"/> -->
          </div><br>

          <div class="horizontalflexbox">
            <ion-button class="ion-button" type="submit" shape="round" color="primary">Send Email</ion-button>
          </div>
        
        </form>
      </ion-card-content>
    </ion-card>
      </div>
</ion-content>
