<link href='https://fonts.googleapis.com/css?family=ZCOOL XiaoWei' rel='stylesheet'>
<ion-content>

  <ion-img src="assets/images/JWE-logos_black.png" id="logo"></ion-img>


    <div class="flexbox">
      <form #form="ngForm" (ngSubmit)="onSubmitEmail()" class="ion-padding" [formGroup]="forgotpassword">

        <ion-item lines="none">
          <ion-input class="input" type="text" name="Email" placeholder="Email" ngModel required formControlName="email"></ion-input>
        </ion-item>

        <p class="ion-text-center">
          <ion-button type="submit" [disabled]="form.invalid">Send Email</ion-button>
        </p>
        
      </form>
      </div>
</ion-content>
