<ion-content class=" no-scroll " style="--background: url('../../assets/images/loginbackground.png');" ><!--style="--background: url('../../assets/images/loginbackground.png');#EEEEEE"-->
  <!--Guest Login button-->
  <!-- <ion-toolbar id="guestBtn">
    
  </ion-toolbar> -->

  <!-- logo -->
  

  <!-- login form class="loginbackground"-->
  <div  class="flexboxReplica">
    <ion-card > 
      <ion-img src="assets/images/JWE-logos_black.png" id="logo"></ion-img>
      <ion-card-content >
        <form [formGroup]="login" (ngSubmit)="onLogin()" > <!-- login form-->
          <div class="horizontalflexbox">
            <ion-item  lines="none" > <!--Username input item-->
              <ion-label position="floating">Username</ion-label>
              <ion-input  formControlName="username" type="text"  class="input"></ion-input>
            </ion-item>
            <ion-label *ngIf="isUsername" color="primary">Username(Email) required</ion-label><br *ngIf="isUsername"/>
          </div><br>

          <div class="horizontalflexbox">
             <ion-item  lines="none"><!-- Password input item -->
              <ion-label position="floating">Password</ion-label>
              <ion-input  formControlName="password" type="password" class="input"></ion-input>
              
            </ion-item>
            <ion-label *ngIf="isPassword" color="primary">Password required</ion-label><br *ngIf="isPassword"/>
          </div><br/>

          <div class="horizontalflexbox">
            <ion-button class="ion-button" type="submit" shape="round" color="primary">Login</ion-button>
          </div>
        </form>
        <div class="horizontalflexbox">
          <ion-button slot="end" shape="round" color="dark" class="guestButton" (click)="onGuestLogin()">guest</ion-button>
        </div>
        <div class="horizontalflexbox">
          <a [routerLink]="['/forgot-password-email']" style="color:rgb(124, 167, 245);">Forgot Password?</a>
        </div>
      </ion-card-content>      
    </ion-card> 
  </div>
</ion-content>

