ion-input{
    background: #f4f5f8;
    
    width: 250px;
    height: 45px;
}

#logo{
    height: 250px;
}

.flexbox{
    display: flex;
    justify-content: center;
}

.horizontalflexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ion-button{
    width: 125px;
}