<div class="ion-padding">
  Update the current user's permissions:
  <ion-list>
    <ion-radio-group value={{role}}>
      <ion-item>
        <ion-label>admin</ion-label>
        <ion-radio slot="start" value="admin"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>user</ion-label>
        <ion-radio slot="start" value="user"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>
</div>
<ion-button (click)="updatePrivilege()" class="change">Save Changes</ion-button>
<ion-button color="primary" (click)="close()" class="closeBtn">X</ion-button>

