<p class="padding">
  <ion-button color="light" href="login">
    <p class="position"><i class="backButton"></i></p>
  </ion-button>
</p>

<ion-content>
  <p class="ion-text-center">
    <img id="logo" src="../../assets/images/JWE-logos_black.png" alt="JWE-Logo"/>
  </p>

  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>

    <div class="flexbox">
        <form class="ion-text-center" #form="ngForm" (ngSubmit)="signUp(form.value,form)">
          <ion-item lines="none">
            <ion-input class="input" type="text" name="Username" placeholder="Username" ngModel required ></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input class="input" type="text" name="Email" placeholder="Email" ngModel required ></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input class="input" type="password" name="Password" placeholder="Password" ngModel required></ion-input>
          </ion-item>

          <p class="ion-text-center">
            <ion-button type="submit" [disabled]="form.invalid">SignUp</ion-button>
          </p>

        </form>
    </div>
</ion-content>
