#logo{
  height: 220px;
}


@media screen and (min-width: 1008px)  {
  .flexboxReplica{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // margin-top: 5%;
  }

  ion-card{
      width: 700px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .flexboxReplica{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2%;
  }

  ion-card{
      width: 600px;
  }
}

@media screen and (max-width: 640px) and (min-width: 360px) {
  .flexboxReplica{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 5%;
  }

  ion-card{
      width: 350px;
  }
}

@media screen and (max-width: 360px) {
  .flexboxReplica{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 10%;
  }
  
  ion-card{
      width: 300px;
  }
 
}

.horizontalflexbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


ion-button {
  text-transform: none;
}

.no-scroll .scroll-content{
  overflow: hidden;
}

.ion-button{
  width: 120px;
  height: 35px;
}


.padding
{
  padding: 5px;
}

.position
{
  margin-top: 18px;
  margin-left: 5px;
}

.input{
  border-bottom: solid 1px lightgrey;
  --highlight-color-focused: none;
}

form{
  margin-bottom: 3%;
}
