ion-card{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.character{
  width: 120px;
  height: 180px;
  background: #ffffff;
  border-radius: 30%;
  position: relative;
  top: -10px;
  border: 3px solid #960722;
}

.character h1{
  font-size: 90px;
  text-align: center;
}

.character p{
  padding-bottom: 20px;
  text-align: center;
}
