<ion-content>
  <div class="head" >
    <ion-img class="logo" src="assets/images/JWE-logos_black.png"></ion-img>
    <app-logout></app-logout>
    <p>
      <strong>Upload</strong><br>
      <em>"consistency is the key"</em><br>
      Practice on paper without any line.
    </p>
  </div>

  <div class="horizontalflexbox">
    <div lines="none" id="backgroundDiv" >
      <div class="flexbox">
        <div lines="none" class="character">
          <h1>{{characterImage.url}}</h1>
          <!--characterImage.url -->
          <p>{{characterImage.characterName}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="horizontalflexbox">
    <ion-item lines="none">
      <div>
        <ion-label color="black" style="font-family:'ZCOOL XiaoWei'; font-size: larger;">Choose an image:</ion-label>
        <input type="file" accept="image/*" (change)="getUploadedImage($event)" class="input" >
      </div>
    </ion-item>
  </div>

  <div class="horizontalbuttonflexbox">
    <ion-button (click)="evaluateImage()" style="box-shadow: 3px 6px -1px rgba(0,0,0,0.68);" >Evaluate</ion-button>
  </div>

  <div class="horizontalbuttonflexbox" *ngIf="ifObjectsDetected()">
    <ion-button fill="outline" (click)="showModal()">Show detected items</ion-button>
  </div>
  
</ion-content>

<div *ngIf="ifGuest()">
  <app-navbar *ngIf="ifNormalNavbar()"></app-navbar>
  <app-admin-nav-bar *ngIf="!ifNormalNavbar()" ></app-admin-nav-bar>
</div>
