<ion-content>
  <div class="head" >
    <ion-img src="assets/images/JWE-logos_black.png"></ion-img>
    <ion-button slot="end" (click)="onLogout()" color="dark">Logout</ion-button>

    <p>
      <strong>Dashboard</strong><br>
      View analytics of the application below.
    </p>
  </div>

  <div class="topnav">
    <ion-grid class="my-grid">
      <ion-row class="parent-row">
        <ion-col class="navCol"><div class="user" (click)="frequencyOfVisits()">Frequency</div></ion-col>
        <ion-col class="navCol"><div class="user" (click)="averageHiragana()">Average - Hiragana</div></ion-col>
        <ion-col class="navCol"><div class="user" (click)="averageKatakana()">Average - Katakana</div></ion-col>
        <ion-col class="navCol"><div class="user" (click)="averageKanji()">Average - Kanji</div></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="graph">
    <canvas #lineCanvas style="position: relative; height: 20vh; width:20vw"></canvas>
  </div>


  </ion-content>
