<ion-content>
  
  <p class="ion-text-center">
    <img src="./assets/images/Logo.png"/>
  </p>
  <div class="ion-padding">
      <form class="ion-padding">

        <ion-item lines="none">
          <ion-input class="input" type="text" name="Email" placeholder="Email" required ></ion-input>
        </ion-item>

        <ion-item lines="none"> 
          <ion-input class="input" type="password" name="Password" placeholder="Password" required></ion-input>
        </ion-item>

        <ion-item lines="none"> 
          <ion-input class="input" type="password" name="Password" placeholder="Re-type Password" required></ion-input>
        </ion-item>
       
       
        <p class="ion-text-center">
          <ion-button (click)="forgotPasswordPage()" >Reset Password</ion-button>
        </p>
       
        
      </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border">

</ion-footer>
