.flexbox{
  display: flex;
  justify-content: center;
}

ion-button {
    text-transform: none;
}

.no-scroll .scroll-content{
    overflow: hidden;
}

form{
    margin-top: 100px;
}

ion-item{
    border-radius: 20px;
    border-width: 3em;
    margin-bottom: 10px;
    --background: rgb(170, 162, 162);
    --highlight-color-focused: none;
    width: 250px;
    height: 45px;
}

img{
    width: 200 px;
    height: 200px;
}
