<ion-content>

  <p class="ion-text-center">
    <img src="../../assets/images/JWE-logos_black.png" alt="JWE-Logo"/>
  </p>
  <div class="flexbox">
      <form form #form="ngForm" (ngSubmit)="forgotPasswordPage()" class="ion-padding">

        <ion-item lines="none">
          <ion-input class="input" type="text" name="Email" placeholder="Email" ngModel required ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input class="input" type="password" name="Password" placeholder="Password" ngModel required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input class="input" type="password" name="ConfirmPassword" placeholder="Re-type Password" ngModel required></ion-input>
        </ion-item>


        <p class="ion-text-center">
          <ion-button type="submit" [disabled]="form.invalid">Reset Password</ion-button>
        </p>


      </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border">

</ion-footer>
