<ion-content>
  <div class="head" >
    <app-logout></app-logout>
    <ion-img src="assets/images/JWE-logos_black.png"></ion-img>

    <p>
      <strong>{{heading}}</strong><br>
      Select which character we you would like to upload below.
    </p>
</div>

<section >
  <ion-grid class="my-grid">
    <ion-row class="parent-row">
        <ion-col *ngFor="let item of jsonAlphabet" size="col-auto">
            <app-block-try-char [letter]='item.character' [translate]='item.translation' [group]='style'></app-block-try-char>
        </ion-col>
    </ion-row>
  </ion-grid>
</section>

</ion-content>

<div *ngIf="ifGuest()">
  <app-navbar *ngIf="ifNormalNavbar()"></app-navbar>
  <app-admin-nav-bar *ngIf="!ifNormalNavbar()" ></app-admin-nav-bar>
</div>
