/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//importing button color
@import "./theme/variables.scss";

ion-toast .toast {
  // --background: white;
  // --width: 300px;
  // --border-width: 1px ;
  // --border-color: red;
  // --border-radius: 5px;
  --color:#ffffff;
    --border-color:#000000;
    --border-radius:3px;
    --border-style:solid;
    --border-width:3px;    
    --background:#1833FF;
    --button-color:#ffffff;
}

body{
    font-family:'ZCOOL XiaoWei';
}

h1, h4{
    font-family:'ZCOOL XiaoWei';
}


.padding
{
  padding: 5px;
}

.position
{
  margin-top: 18px;
  margin-left: 5px;
}

.backButton
{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;

  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.infinity-loader{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  width: 130px;
  height: 70px;
 }
 
 .textOne{
   position: fixed;
   left: 47.5%;
   top: 65%;
   //font-family: 'ZCOOL XiaoWei';
 }
 
 //infinity circles
 .infinity-loader .bg div, .infinity-loader > .fg > div > div{
   width: 70px;
   height: 70px;
   border: 10px solid #aaa; //outer background is gray
   box-sizing: border-box;
   border-radius: 50%;
   position: absolute;
 }
 
 // right circle
 .infinity-loader .right-bg{
    transform: translate(100%, 0);
    left: -10px;
 }
 
 
 //inner infinity circles
 .infinity-loader > .fg > div > div{
   border-color: #960722 #960722 transparent transparent;
   transform: rotate(135deg);
   animation: spin 1s linear infinite;
   position: static;
 }
 
 .infinity-loader > .fg > div{
   clip: rect(0, 70px,35px,0);
   position: absolute; /*Needed for clip*/
 
 }
 
 .infinity-loader > .fg > .bottom-right-rect{
   left: -10px;
   transform: translateX(100%) scale(1, -1);
 }
 
 .infinity-loader > .fg > .bottom-right-rect > div{
   animation-delay: .25s;
 }
 
 .infinity-loader > .fg > .top-right-rect{
   left: -10px;
   transform: translateX(100%) scale(-1, 1);
 }
 
 .infinity-loader > .fg > .top-right-rect > div{
   animation-delay: .5s;
 }
 
 .infinity-loader > .fg > .bottom-left-rect{
   transform: scale(-1);
 }
 
 .infinity-loader > .fg > .bottom-left-rect > div{
   animation-delay: .75s;
 }
 
 .infinity-loader > .fg{
   filter: drop-shadow(0 0 6px #960722); //glow effect
 }
 //defining spin
 @keyframes spin {
   50%,
   100%{
     transform: rotate(495deg);
   }
 }


