#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown {
  display: block;
  margin: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.positionGrid{
}

ion-list {
  border: 0.55px solid #080808;
  width: 200px;
  height: 50px;
}

ion-select {
  width: 180px;
  height: 50px;
}

.divPosition {
  margin-top: 200px; //change back to 200px
}

a {
  text-decoration: none;
}

ion-popover {
  --offset-y: -150px;
  --offset-x: -90px;
}
