<ion-content>
  <div class="head" >
      <ion-img src="assets/images/JWE-logos_black.png"></ion-img>
      <app-logout></app-logout>

      <h1></h1>
      <p>
        <strong>Welcome</strong><br> <span>ようこそ</span><br>
        Did you know Japanese has 3 different alphabets?<br>
        Select which alphabet we shall explore below.<br><br>
        Note: Hiragana has 15 groups
      </p>
  </div>


  <div >
    <ion-grid class="my-grid">
      <ion-row class="parent-row">
        <ion-col *ngFor="let item of alphabetCategory" size="col-auto">
          <app-options [letter]='item.character' [category]='item.category' [pageReq]='pageRequest'></app-options>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<app-navbar *ngIf="!ifGuest()"></app-navbar>
<!--!ifAdmin() <app-admin-nav-bar *ngIf="!ifAdmin()"></app-admin-nav-bar> -->

