<ion-content class="ion-padding" [fullscreen]="true">
    <!-- <ion-row>
      <ion-item>*ngFor="let character of characters"load all possible characters
        <div id="outerlayer">
          <ion-row>
            <ion-col>
               <ion-img  alt="character image"></ion-img>[src]=""character.path 
            </ion-col>
            <ion-col>
              <ion-button  color="dark">Try</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-item>
    </ion-row>
  </div> -->
  
  <div id="Suggestions">
    <h1>Character Suggestions To Try</h1>

    <div id="SuggestionBlock">
      <ion-row>
        <div id="Suggestion1">
          <img alt="Suggestion" id="suggest1" >
          <ion-button  color="dark" id="try">Try</ion-button>
        </div>
        <div id="Suggestion2">
          <img alt="Suggestion" id="suggest2">
          <ion-button  color="dark" id="try">Try</ion-button>
        </div>
      </ion-row>
      
    </div>
  </div>

  <ion-popover trigger="try"  side="bottom">
    <ng-template>
      <ion-content>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Upload Image</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="upload" (ngSubmit)="uploadImage()">
              <ion-input type="file" formControlName="image" (change)="getImage($event)" accept=".png,.jpeg,.jpg"></ion-input>
              <ion-button type="submit" >Evaluate</ion-button>
            </form>
            <!-- <ion-input type="file"  name="image" autocomplete="off"></ion-input> -->
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-popover>


  <div id="Progress">
    <ion-item>
    </ion-item>
  </div>
  <!--floating button with the plus icon, Upload button-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="trigger">
      <!-- <ion-input type="file"></ion-input> -->
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-popover trigger="trigger"  side="top">
    <ng-template>
      <ion-content>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Upload Image</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <form [formGroup]="upload" (ngSubmit)="uploadImage()">
              <ion-input type="file" formControlName="image" (change)="getImage($event)" accept=".png,.jpeg,.jpg"></ion-input>
              <ion-button type="submit" >Evaluate</ion-button>
            </form>
            <!-- <ion-input type="file"  name="image" autocomplete="off"></ion-input> -->
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-popover>
<ion-content>
</ion-content>


<!-- tabs for the navigation bar-->
<ion-footer>
  <ion-tab-bar>
    <ion-tabs>
      <ion-row>
        <ion-col size="6">
          <a ><!--direct to suggestions-->
            <ion-tab-button >
              <ion-icon name="language"></ion-icon>
              <ion-label>Characters</ion-label>
            </ion-tab-button>
          </a>
        </ion-col>

        <ion-col size="4">
          <a [routerLink]="['/progress']" routerLinkActive="router-link-active" >
            <ion-tab-button >
              <ion-icon name="analytics"></ion-icon>
              <ion-label>Progress</ion-label>
            </ion-tab-button>
          </a>
        </ion-col>
      </ion-row>
    </ion-tabs>
  </ion-tab-bar>
</ion-footer>
